<h1><%= @user %></h1>
<div class="reviews">
  <%= link_to "Newest Reviews", user_path(@user, :sort => "newest") %>
  <%= link_to "Oldest Reviews", user_path(@user, :sort => "oldest") %>
  <% @user_reviews.each do |review| %>
  <div class="user-card" id="id-<%= review.id %>">
    <h2><%= review.book.title %></h2>
    <img src="<%= review.book.thumbnail_url %>" width="200px">
    <h4><%= review.review_headline %><br>Rating: <%= review.review_score %></h4>
    <ul>
      <li><%= review.review_body %></li>
      <li><%= review.created_at %></li>
    </ul>
    <%= link_to "Delete this review", review_path(review), method: :delete %>
  </div>
  <% end %>
</div>
