<h1>Books</h1>

<% @books.each do |book| %>
  <div id="id-<%= book.id %>">
    <img src="<%= book.thumbnail_url %>" width="200px">
    <h2>Title: <%= link_to "#{book.title}", book_path(book) %></h2>
    <ul><li>Author(s): <%= book.author_list %></li>
      <li>Year Published: <%= book.year_published %></li>
      <li>Page Count: <%= book.page_count %></li></ul>
  </div>
<% end %>
