<h1>Books</h1>

<% @books.each do |book| %>
  <div id="id-<%= book.id %>">
    <img src="<%= book.thumbnail_url %>" width="200px">
    <h2>Title: <%= link_to book.title, book_path(book) %></h2>
    <ul><li>Author(s): <% book.authors.each do |author| %>
                      <%= link_to author.name, author_path(author) %>
                    <% end %></li>
      <li>Rating: <%= book.average_rating.round %></li>
      <li>Reviews: <%= book.number_of_reviews %></li>
      <li>Year Published: <%= book.year_published %></li>
      <li>Page Count: <%= book.page_count %></li></ul>
  </div>
<% end %>
<%= link_to "Highest Rated", books_path(:sort => "highest_rated") %>
<%= link_to "Lowest Rated", books_path(:sort => "lowest_rated") %>
<% if @book_count >= 3 %>
<div class="book-stats-box">
 <section id="bestbooks">
   <h5> Best 3 Books:</h5>
   <ul>
     <li><%= @books.best_books.first.title %></li>
     <li><%= @books.best_books.second.title %></li>
     <li><%= @books.best_books.third.title %></li>
   </ul>
  </section>
  <section id="worstbooks">
   <h5> Worst 3 Books:</h5>
   <ul>
     <li><%= @books.best_books[-1].title %></li>
     <li><%= @books.best_books[-2].title %></li>
     <li><%= @books.best_books[-3].title %></li>
   </ul>
 </section>
</div>
<% end %>
