<h1>Books</h1>

<% @books.each do |book| %>
  <div id="id-<%= book.id %>">
    <h2>Title: <%= book.title %></h2>
    <img src="<%= book.thumbnail_url %>" width="200px">
    <br>Author(s): <% book.authors.each do |author| %>
      <%= link_to author.name, author_path(author) %>
      <% end %>
      <ul><li>Year Published: <%= book.year_published %></li>
      <li>Page Count: <%= book.page_count %></li></ul>
  </div>
<% end %>
