<div style="margin-top: 2%;">
<%= form_for @book do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :page_count %>
  <%= f.number_field :page_count %>
  <%= f.label :year_published %>
  <%= f.text_field :year_published %>
  <%= f.label :thumbnail_url %>
  <%= f.text_field :thumbnail_url %>
  Author(s)<input type="text" name="authors[name]">
  <%= f.submit "Add Book" %>
<% end %>
</div>
