<div id="id-<%= @book.id %>">
  <%= link_to "Delete Book", book_path(@book), method: :delete %>
  <h2>Title: <%= @book.title %></h2>
  <img src="<%= @book.thumbnail_url %>" width="200px">
  <ul>Author(s): <% @book.authors.each do |author| %>
  <ul>
    <li><%= link_to author.name, author_path(author) %></li>
  </ul>
  <% end %>
    <li>Year Published: <%= @book.year_published %></li>
    <li>Page Count: <%= @book.page_count %></li></ul>
</div>
<%= link_to "Add Review", new_book_review_path(@book) %>
<div class="reviews">
  <% @book.reviews.each do |review| %>
    <div class="review-card" id="id-<%= review.id %>">
      <h4>User: <%= link_to review.user, user_path(review.user) %></h4>
      <ul><li>Title: <%= review.review_headline %></li>
        <li>Rating: <%= review.review_score %></li>
        <li>Review: <%= review.review_body %></li></ul>
    </div>
  <% end %>
</div>
